@use 'setting' as s;
@use 'sass:math';

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1.5;
  color: s.$colorBlack;
  overflow-x: hidden;
}

img, source {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*-------------------------------------------
header
-------------------------------------------*/

.c-header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4%;
  width: 100%;
  height: s.$headerHeight;

  @include s.mq(tab) {
    padding: 0 7%;
    height: s.$headerHeight--sp;
    background-color: s.$colorWhite;
  }
}

.c-header__logo {
  @include s.mq(tab) {
    width: 70px;
    object-fit: contain;
  }
}

.c-header-nav {
  display: block;

  @include s.mq(tab) {
    display: none;
  }
}

.c-header-nav__list {
  display: flex;
  font-weight: bold;
}

.c-header-nav__item {
  margin-right: 35px;
}

/*-------------------------------------------
header-drawer
-------------------------------------------*/

.c-drawer {
  display: none;

  @include s.mq(tab) {
    display: block;
    position: fixed;
    top: 72px;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../image/overlay.png);
    background-size: cover;
    pointer-events: none;
    visibility: hidden;
    transition: left .3s ease-out, visibility 0s .3s;
  }
}

.c-drawer.is-open {
  left: 0;
  pointer-events: auto;
  visibility: visible;
  transition: left .3s ease-out, visibility 0s;
}

.c-drawer-nav {
  margin-top: 80px;
  margin-left: 11.5%;
}

.c-drawer-nav__list {
  color: s.$colorBlue;
  font-weight: bold;
}

.c-drawer-nav__item {
  margin-bottom: 40px;
}

.c-sns {
  display: flex;
  gap: 20px;
}

.c-sns__img {
  display: block;
  width: 30px;
  height: 30px;
}

/*-------------------------------------------
main
-------------------------------------------*/

.c-section-title {
  margin-bottom: 10px;
  color: s.$colorBlue;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 3px;

  @include s.mq(tab) {
    font-size: 30px;
    margin-bottom: 5px;
  }
}

.c-section-subtitle {
  color: s.$colorYellow;

  @include s.mq(tab) {
    font-size: 13.5px;
  }
}

.c-section-text {
  letter-spacing: 1px;

  @include s.mq(tab) {
    font-size: 15px;
  }
}

.c-fade-up {
  opacity: 0;
  // transform: translateY(40px);
  transition: opacity .8s ease-out, transform .8s ease-out;
}

.c-title-deco--left {
  position: relative;
}

.c-title-deco--left::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -35px;
  display: inline-block;
  background-image: url(../image/title-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;

  @include s.mq(tab) {
    top: -25px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-size: cover;
  }
}

.c-title-deco--right {
  position: relative;
}

.c-title-deco--right::after {
  content: "";
  position: absolute;
  top: 19px;
  margin-left: 9px;
  display: inline-block;
  background-image: url(../image/title-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;

  @include s.mq(tab) {
    top: 0px;
  }
}