@use "setting" as s;
/*除算用にmathモジュールをインポート*/
@use "sass:math";

.p-main {
  @include s.mq(tab) {
    padding-top: 72px;
  }
}

/*-------------------------------------------
スライドレイアウト
-------------------------------------------*/
.p-firstView {
  position: relative;
  width: 100%;
  height: 720px;

  @include s.mq(tab) {
    height: 600px;
  }
}

.p-firstView__list {
  position: relative;
  z-index: 0;
  height: 100%;
}

.p-firstView__item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 5s ease-out;
}

.p-firstView__image img {
  @include s.mq(tab) {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.is-active {
  opacity: 1;
}

.p-firstView__text {
  position: absolute;
  top: 350px;
  left: 8%;
  z-index: 1;
  color: s.$colorBlue;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 1.6;
  
  @include s.mq(tab) {
    top: 455px;
    left: 20px;
    font-size: 33px;
  }
}

.p-firstView__text-copy::after {
  content: "";
  position: relative;
  top: -4px;
  display: inline-block;
  margin-left: 9px;
  background-image: url(../image/title-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;

  @include s.mq(tab) {
      top: 0px;
  }
}


/*-------------------------------------------
「信頼の技術とサポート」レイアウト
-------------------------------------------*/


/*-------------------------------------------
「SERVICE」レイアウト
-------------------------------------------*/


/*-------------------------------------------
「ABOUT」レイアウト
-------------------------------------------*/


/*-------------------------------------------
「会社理念・会社概要」レイアウト
-------------------------------------------*/

/*-------------------------------------------
「STAFF」レイアウト
-------------------------------------------*/


/*-------------------------------------------
「RECRUIT」レイアウト
-------------------------------------------*/


/*-------------------------------------------
「お問い合わせ」レイアウト
-------------------------------------------*/


/*-------------------------------------------
「トップアイコン」レイアウト
-------------------------------------------*/
