@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1.5;
  color: #333a3f;
  overflow-x: hidden;
}

img, source {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*-------------------------------------------
header
-------------------------------------------*/
.c-header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4%;
  width: 100%;
  height: 120px;
}
@media screen and (max-width: 821px) {
  .c-header {
    padding: 0 7%;
    height: 72px;
    background-color: #fff;
  }
}

@media screen and (max-width: 821px) {
  .c-header__logo {
    width: 70px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.c-header-nav {
  display: block;
}
@media screen and (max-width: 821px) {
  .c-header-nav {
    display: none;
  }
}

.c-header-nav__list {
  display: flex;
  font-weight: bold;
}

.c-header-nav__item {
  margin-right: 35px;
}

/*-------------------------------------------
header-drawer
-------------------------------------------*/
.c-drawer {
  display: none;
}
@media screen and (max-width: 821px) {
  .c-drawer {
    display: block;
    position: fixed;
    top: 72px;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../image/overlay.png);
    background-size: cover;
    pointer-events: none;
    visibility: hidden;
    transition: left 0.3s ease-out, visibility 0s 0.3s;
  }
}

.c-drawer.is-open {
  left: 0;
  pointer-events: auto;
  visibility: visible;
  transition: left 0.3s ease-out, visibility 0s;
}

.c-drawer-nav {
  margin-top: 80px;
  margin-left: 11.5%;
}

.c-drawer-nav__list {
  color: #18669e;
  font-weight: bold;
}

.c-drawer-nav__item {
  margin-bottom: 40px;
}

.c-sns {
  display: flex;
  gap: 20px;
}

.c-sns__img {
  display: block;
  width: 30px;
  height: 30px;
}

/*-------------------------------------------
main
-------------------------------------------*/
.c-section-title {
  margin-bottom: 10px;
  color: #18669e;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 3px;
}

.c-section-text {
  letter-spacing: 1px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
/*除算用にmathモジュールをインポート*/
/* ここから記述します。 */
/*除算用にmathモジュールをインポート*/
.p-main {
  position: relative;
}
@media screen and (max-width: 821px) {
  .p-main {
    padding-top: 72px;
  }
}

.p-main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../image/bubble.png");
  background-repeat: no-repeat;
  background-position: left 0px top 500px;
  background-size: 350px;
  z-index: 1;
}

/*-------------------------------------------
スライドレイアウト
-------------------------------------------*/
.p-firstView {
  position: relative;
  width: 100%;
  height: 720px;
}
@media screen and (max-width: 821px) {
  .p-firstView {
    height: 600px;
  }
}

.p-firstView__list {
  position: relative;
  z-index: 0;
  height: 100%;
}

.p-firstView__item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 5s ease-out;
}

@media screen and (max-width: 821px) {
  .p-firstView__image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
}

.is-active {
  opacity: 1;
}

.p-firstView__text {
  position: absolute;
  top: 350px;
  left: 8%;
  z-index: 1;
  color: #18669e;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 1.6;
}
@media screen and (max-width: 821px) {
  .p-firstView__text {
    top: 455px;
    left: 20px;
    font-size: 33px;
  }
}

.p-firstView__text-copy::after {
  content: "";
  position: relative;
  top: -4px;
  display: inline-block;
  margin-left: 9px;
  background-image: url(../image/title-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
}
@media screen and (max-width: 821px) {
  .p-firstView__text-copy::after {
    top: 0px;
  }
}

/*-------------------------------------------
「信頼の技術とサポート」レイアウト
-------------------------------------------*/
.p-support {
  position: relative;
  z-index: 2;
  margin: 100px;
}

.p-support__inner {
  display: flex;
  gap: 100px;
}

.p-support__visual,
.p-support__contents {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.p-support__contents {
  gap: 200px;
}

.p-support__image img {
  border-radius: 10px;
}

.p-support__images {
  position: relative;
}

.p-support__images--left {
  position: absolute;
  top: 80px;
  left: -15%;
  z-index: 0;
  width: 220px;
  height: 260px;
}

.p-support__images--left img,
.p-support__images--right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.p-support__images--right {
  position: absolute;
  top: 50px;
  left: 35%;
  z-index: -1;
  width: 320px;
  height: 320px;
}

.u-bottom-margin {
  margin-bottom: 25px;
}

/*-------------------------------------------
「SERVICE」レイアウト
-------------------------------------------*/
/*-------------------------------------------
「ABOUT」レイアウト
-------------------------------------------*/
/*-------------------------------------------
「会社理念・会社概要」レイアウト
-------------------------------------------*/
/*-------------------------------------------
「STAFF」レイアウト
-------------------------------------------*/
/*-------------------------------------------
「RECRUIT」レイアウト
-------------------------------------------*/
/*-------------------------------------------
「お問い合わせ」レイアウト
-------------------------------------------*/
/*-------------------------------------------
「トップアイコン」レイアウト
-------------------------------------------*/
/*-------------------------------------------
footer
-------------------------------------------*/
/*除算用にmathモジュールをインポート*/
/* ここから記述します。 */
.c-hamburger {
  --hamburger-bar-color: #18669e;
  display: none;
}
@media screen and (max-width: 821px) {
  .c-hamburger {
    display: block;
    position: relative;
    z-index: 10;
    width: 42px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.c-hamburger__bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--hamburger-bar-color);
  transition: 0.5s;
}

.c-hamburger__bar::before,
.c-hamburger__bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--hamburger-bar-color);
  transition: 0.5s;
}

.c-hamburger__bar::before {
  top: -12px;
  left: 0;
  transform-origin: center center;
}

.c-hamburger__bar::after {
  top: -24px;
  left: 0;
  transform-origin: center center;
}

.c-hamburger.is-open .c-hamburger__bar {
  background-color: transparent;
}

.c-hamburger.is-open .c-hamburger__bar::before {
  transform-origin: center center;
  transform: rotate(45deg);
}

.c-hamburger.is-open .c-hamburger__bar::after {
  top: -12px;
  transform-origin: center center;
  transform: rotate(-45deg);
}/*# sourceMappingURL=style.css.map */